<div class="container">
  <div class="col-md-3">
    <form  #f="ngForm" (ngSubmit)="onSaveCustommer(f.value, f)"  >
      <div class="form-group">
        <label class="control-label">Nom :</label>
        <input type="text" name="name" required class="form-control" [(ngModel)]="cartService.getCustomer().name" >
      </div>
      <div class="form-group">
        <label class="control-label">Prénom :</label>
        <input type="text" name="firstName" required class="form-control" [(ngModel)]="cartService.getCustomer().firstName" >
      </div>

      <div class="form-group">
        <label class="control-label">Adresse :</label>
        <input type="text" name="adress" required class="form-control" [(ngModel)]="cartService.getCustomer().adress">

        <div class="form-group">
          <label class="control-label">Tel :</label>
          <input type="text" name="phone" required class="form-control" [(ngModel)]="cartService.getCustomer().phone">
        </div>

        <div class="form-group">
          <label class="control-label">E-mail :</label>
          <input type="email" name="email" required class="form-control" [(ngModel)]="cartService.getCustomer().email">
        </div>
        <button type="submit"  class="btn btn-primary" [disabled]="!f.valid" f.reset>Next</button>

      </div>
    </form>
  </div>
</div>
